*{
    margin: 0;
    font-family: 'Roboto';
}
.top-bar{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
}
.top-bar h1{
    padding:40px;
    font-size: 24px;
    color: #f9faf8;
}
.navbar{
    background-color: #1f2937;
    margin-right: 40px;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li{
    padding: 40px 10px;
    font-size: 18px;
    color: #e5e7eb;
}
.hero{
    padding-left: 200px;
    padding-right: 200px;
    height: 450px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding-top: 75px;
}
.main h1{
    padding-left: 40px;
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.main p{
    padding-left: 40px;
    font-size: 18px;
    color: #e5e7eb;
}
.main button{
    margin-left: 40px;
    margin-top: 50px;
    background-color: #3882f6;
    padding: 10px 30px;
    border-radius: 10px;
    color: #f9faf8;
    border: 0;
    font-size: 18px;
    font-weight: bold;
}
.image{
    margin-right: 40px;
    width: 45%;
    height: 350px;
    background-color: gray;
}